<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require core-header-panel/core-header-panel
 *= require core-toolbar/core-toolbar
 *= require core-dropdown/core-dropdown
 *= require core-menu/core-menu
 *= require core-splitter/core-splitter
 *= require core-dropdown-menu/core-dropdown-menu
 *= require core-drawer-panel/core-drawer-panel
 *= require paper-tabs/paper-tabs
 *= require paper-item/paper-item
 *= require paper-input/paper-input
 *= require paper-button/paper-button
 *= require paper-dropdown/paper-dropdown
 *= require paper-icon-button/paper-icon-button
 *= require paper-menu-button/paper-menu-button
 *= require_tree .
-->