<h1 class="header"> New group </h3>
<div class="new-form">
  <%= form_for @group do |f| %>
    <paper-input-decorator label="name">
      <%= f.text_field :name, :class => "form-control" %>
    </paper-input-decorator>
    <%= f.submit "Create", :class => "btn btn-primary btn-xs" %>
  <% end %> 
</div>