<div class="panel panel-default">
  <ol class="breadcrumb">
    <h4> <%= current_user.full_name %> - Groups </h4>
  </ol>
  <div class="panel-body">
    <br />
    <div class="container">
      <div class="panel-group" id="groupsAccordion" role="tablist" aria-multiselectable="true">
        <% current_user.memberships.each_with_index do |membership, index| %>
          <%= render partial: "group_actions", locals: {index: index, membership: membership} %>
        <% end %>
      </div>
    </div>
  </div>
</div>