<div class="panel panel-default">
  <div class="breadcrumb">
    <h3> <%= current_user.full_name %> - Groups </h3>
  </div>
  <div class="panel-body">
    <% current_user.groups.each do |group| %>
      <p> 
        <% if group.is_member?(current_user) %>
          <i class="fa fa-user fa-lg"> </i>
        <% elsif group.is_leader?(current_user) %>
          <i class="fa fa-star fa-lg"> </i>
        <% end %>
        <%= link_to group.name, group %> 
      </p>
    <% end %>
  </div>
</div>