<div style="margin-left: 26px"> <%= paginate @documents %> </div>
  <% if @subcategories %>
    <!-- Show a tile for each subcategory -->
    <% @subcategories.each do |subcategory| %>
      <%= render partial: "categories/category_list_item", locals: {subcategory: subcategory} %>
    <% end %>
  <% end %>
  <% if @documents %>
    <%= render partial: "documents/document_list_item", locals: {docs: @documents} %>
  <% end %>
</div>