<!-- Document upload button -->
<div class="upload_button_container">
  <a class="upload_button" href="" data-toggle="modal" data-target="#documentModal">
    <span class="upload_button_text">
      Upload
    </span>
    <i class="fa fa-file-o fa-lg"></i>
  </a>
  <hr />
</div>

<!-- Document upload modal -->
<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="documentModal">Document Upload <%= " - #{@category.name}" if !@category.nil? %></h4>
      </div>
      <!-- Check if a user is logged in -->
      <% if !current_user.nil? %>
        <!-- Check if user has permissions to upload -->
        <% if !@category.nil? and can_upload_documents(@category) %>
          <%= form_for Document.new, html: { multipart: true }, url: documents_path, method: :post do |f| %>
            <%= render partial: "documents/form", locals: {f: f, include_revision: true} %>
          <% end %>
        <% elsif @category.nil? %>
          <div class="panel-heading">
            Please select a category to begin uploading documents.
          </div>
        <% elsif !can_upload_documents(@category) %>
          <div class="panel-heading">
            Sorry, you do not have permission to upload documents
            to this category.
          </div>
        <% end %>
      <% elsif current_user.nil? %>
        <div class="panel-heading">
          Please
          <%= link_to "sign in", "/auth/cas" %>
          to upload documents!
        </div>
      <% else %>
        <div class="panel-heaing">
          An unknown error has occured. Please contact a site administrator
          for more details.
        </div>
      <% end %>
    </div>
  </div>
</div>