<% docs.each do |doc| %>
  <% if !doc.current_revision.nil? %>
    <div class="list-item">
      <%= image_tag "icons/#{small_document_icon(doc.current_revision.extension_type)}" %>
      <%= doc.title %>
      <%= "Date: #{doc.current_revision.updated_at.to_date}" %>
      <% if !doc.user.name.nil? %>
        <%= "by: #{doc.user.name}" %> 
      <% end %>
    </div>
  <% end %>
<% end %>