<div vertical layout>
  <div class="grid-scroll">
    <%= render partial: "documents/document_view_style" %> <br />
    <div> <%= paginate @documents %> </div>
    <!-- Subcategory List -->
    <% if !@subcategories.nil? %>
      <!-- Show a tile for each subcategory -->
      <%= render partial: "categories/category_list_item", locals: {subcategories: @subcategories} %>
    <% end %>
    <br />
    <!-- Document List -->
    <% if !@documents.nil? %>
      <%= render partial: "documents/list/document_list_item", locals: {docs: @documents} %>
    <% end %>
  </div>
</div>