/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

/* Bootstrap Variable Overrides */
/* ---------------------------- */
/* ---------------------------- */

$btn-default-bg: #4285f4;
$btn-default-border: #4285f4;
$btn-default-color: #FFFFFF; 
$btn-danger-color: #FFFFFF;

$navbar-default-bg: #000000;
$navbar-default-link-color: #FFFFFF;
$navbar-default-link-hover-color: #0066FF;
$navbar-default-link-hover-bg: #FFFFFF;
$navbar-default-link-active-bg: #FFFFFF;

$dropdown-link-hover-color: #0066FF;

$breadcrumb-bg: #333333;
$panel-default-border: #333333;
$panel-border-radius: 0px;
/* ---------------------------- */
/* ---------------------------- */

@import "bootstrap";
@import "bootstrap/theme";

/* Element styles */
body {
  padding-top: 85px;
}

div {
  user-select: none;
}

footer {
  background: #5C5C5C;
  font-size: 14px;
}

input[type=search], input[type=text] {
  border-radius: 0px;
}

/* Bootstrap class overrides */
.alert {
  margin-left: 0px;
  border-radius: 0px;
}

.btn-default {
  border-radius: 0px;
  border: 1px solid #4285f4;
  &:hover {
    background: #254C8B;
    border: 1px solid #254C8B;
  }
}

.btn-danger {
  border-radius: 0px;
  border-color: #CCCCCC;
}

.breadcrumb {
  margin: 0px;
  color: #FFFFFF;
  h3 {
    margin: 0px;
    padding: 15px;
    color: #FFFFFF;
  }
  border-radius: 0px;

  .active { 
    color: #FFFFFF;
  }

  li {
    a {
      color: #428bca;
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
}

.modal-header {
  background: #333333;
  h4 {
    color: #FFFFFF;
  }
  button {
    span {
      color: #FFFFFF;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
}

.navbar {
  padding-top: 5px;
  .container-fluid {
    a {
      h3 {
        color: #FFFFFF;
      }
    }
  }
}

.nav-stacked {
  li {
    a:hover {
      background: #C2D6FF;
    }
  }
}

.panel {
  border: none;
}

.panel-default {
  .panel-heading {
    color: white;
    background-color: #333333;
    background-image: none;
  }
}

.panel-body {
  padding: 0px 0px 10px 5px;
}

.thumbnail {
  /* used for document tile */
  width: 225px;
  height: 180px;

  color: black;
  border: none;
  border-radius: none;
  box-shadow: none;
  margin: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow-y: hidden;
  overflow-x: hidden;

  &:hover {
    color: #000000;
    background-color: #C2D6FF;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-radius: 0px;
    box-shadow: 3px 2px 2px #333333;
    text-decoration: none;
  }
}