/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

/* Page elements */
html, body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

/* Navigation */
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #3B78DC;
  color: white;
}
.search {
  width: 30%;
  paper-input-decorator {
    input {
      text-overflow: ellipsis;
    }
  }
}
.navbar-header {
  color: white;
  text-decoration: none;
}
.menu {
  color: #000000;
  paper-item {
    a {
      padding: 4px;
      color: #000000;
      text-decoration: none;
      &:hover {
        background-color: #282828;
        color: #FFFFFF;
      }
    }
  }
}

/* Split page */
.category-tree {
  .category-tree-scroll {
    overflow-y: auto;
    height: 100%;
  }
}
.main-panel {
  background-color: #FFFFFF;
}

/* General */
.unstyled-link {
  color: #000000;
  text-decoration: none;
}
.header {
  margin-left: 25px;
  font-size: 24px;
}