// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories-nav {
  list-style-type: none;
  padding-left: 0px;
  li {
    i {
      padding: 2px;
      display: block-inline;
      &:hover {
        background-color: #F0F0F0;
      }
    } 
    a {
      padding: 2px;
      display: block-inline;
      text-decoration: none;
      color: #000000;
      &:hover {
        background-color: #F0F0F0;
      }
    }
  }
}

.categories-form {
  margin: 0 0 0 25px;
  .category-owner {
    margin-left: 10px;
  }
}

.grid-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-item {
  margin: 5px;
  padding-top: 5px;
  text-align: center;
  position: relative;
  width: 175px;
  height: 175px;
  overflow-y: hidden;
  overflow-x: hidden;
  &:hover {
    box-shadow: 1px 1px 1px #282828;
    background-color: #F0F0F0;
    border-radius: 3px;
  }
  .grid-item-img {
    display: block-inline;
  }
  .grid-item-name {
    display: block-inline;
    padding: 2px;
  }
}

.list-item {
  height: 80px;
  border-bottom: 1px solid #ddd;
  padding: 4px;
  overflow: hidden;
}