// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories-nav {
  list-style-type: none;
  padding-left: 0px;
  paper-item {
    &:hover {
      background-color: #F0F0F0;
    }
  }
  li {
    i {
      padding: 5px;
      display: block-inline;
      &:hover {
        background-color: #E0E0E0;
      }
    } 
    a {
      padding: 2px;
      display: block-inline;
      text-decoration: none;
      color: #000000;
    }
  }
}

.categories-form {
  margin: 0 0 0 25px;
  .category-owner {
    margin-left: 10px;
  }
}

.grid-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-item {
  margin: 5px;
  padding-top: 5px;
  text-align: center;
  position: relative;
  width: 175px;
  height: 175px;
  overflow-y: hidden;
  overflow-x: hidden;
  &:hover {
    box-shadow: 1px 1px 1px #282828;
    background-color: #F0F0F0;
    border-radius: 3px;
  }
  .grid-item-img {
    display: block-inline;
  }
  .grid-item-name {
    display: block-inline;
    padding: 2px;
  }
}

.new-subcategory {
  margin-left: 25px;
  background-color: #4285f4;
  color: white;
  font-size: 12px;
  i {
    padding-left: 8px;
  }
}

.subcategory-form {
  margin: 0px 25px 0px 25px;
  .header {
    margin-left: 0px;
    font-size: 24px;
  }
  core-item {
    padding: 0px 50px 0px 50px;
  }
  core-label {
    margin: 20px 0px 20px 0px;
  }
  paper-checkbox {
    padding: 20px 20px 20px 0px;
  }
  paper-button {
    margin-left: 0px;
    background-color: #3B78DC;
    button {
      color: white;
      padding: 0em;
      background-color: transparent;
      border-color: transparent;
      border: 0;
    }
  }
  .owning-group {
    padding-top: 25px;
    select {
      margin-left: 15px;
    }
  }
}

.dialog {
  z-index: 50;
  position: relative;
  display: inline-block;
} 

.category-list-item {
  margin-left: 15px;
  &:hover {
    box-shadow: 1px 1px 1px #282828;
    background-color: #F0F0F0;
    border-radius: 3px;
  }
}

.featured {
  margin-left: 45px;
}