// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories-nav {
  list-style-type: none;
  padding-left: 15px;
  li {
    i {
      display: block-inline;
      &:hover {
        background-color: #F0F0F0;
      }
    } 
    a {
      display: block-inline;
      text-decoration: none;
      color: #000000;
      &:hover {
        background-color: #F0F0F0;
      }
    }
  }
}

.categories-form {
  margin: 25px;
}

.grid-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-item {
  margin: 5px;
  padding-top: 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #282828;
  background-color: white;
  text-align: center;
  position: relative;
  width: 175px;
  height: 175px;
  &:hover {
    box-shadow: 2px 2px 2px #282828;
    background-color: #F0F0F0;
  }
}