// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-form {
  margin: 25px;
  .header {
    margin-left: 0px;
    font-size: 24px;
  }
  core-item {
    padding: 0px 50px 0px 50px;
  }
  core-label {
    margin: 20px 0px 20px 0px;
  }
  paper-checkbox {
    padding: 20px 20px 20px 0px;
  }
  paper-button {
    margin-left: 0px;
    background-color: #3B78DC;
    button {
      color: white;
      padding: 0em;
      background-color: transparent;
      border-color: transparent;
      border: 0;
    }
  }
}

.constrained-height {
  height: 500px;
}

.upload-container {
  margin-top: 25px;
  text-align: center;
  .upload {
    color: white;
    background-color: #4285f4;
    box-shadow: 1px 1px 1px #282828;
  }
}

.view-style {
  float: right;
  padding: 15px;
  a {
    color: #282828;
    text-decoration: none;
  }
}

.prev-category {
  padding-right: 10px;
}

.create-revision, 
.edit-document, 
.document-delete-btn {
  background-color: #4285f4;
  color: white;
  font-size: 12px;
  i {
    padding-left: 8px;
  }
}

.document-delete-btn {
  a {
    color: white;
  }
}

.document-details {
  margin-left: 25px;
  max-width: 50%;
  padding-right: 35px;
}

.document-list-item {
  height: 45px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 15px;
  div {
    padding-right: 15px;
  }
  .document-title {
    width: 75%;
    margin-left: 2px;
    margin-right: 2px;
  }
  &:hover {
    box-shadow: 1px 1px 1px #282828;
    background-color: #F0F0F0;
    border-radius: 3px;
  }
}