// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document_actions {
  text-align: center;
}

.document_show {
  margin-left: 300px;
  position:  relative;
  text-align: center;
}

/* Document List Item */
.document-list-item {
  padding: 5px;
  &:hover {
    background-color: #C2D6FF;
  }
}
