// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.view-style {
  float: right;
  padding: 15px;
  a {
    color: #282828;
    text-decoration: none;
  }
}