<!-- Category list -->
<ul class="categories-nav" >
  <% categories.each do |root| %>
    <!-- Show root categories -->
    <paper-item>
      <li value="root" class="<%= "cat-#{root.id}"%>" >
        <i class="fa fa-caret-right fa-lg" onclick="getSubCategories(<%= root.id %>)"></i>
        <%= link_to root.name, category_path(root, view_style: "grid"), onclick: "storeCategoryTree();", "data-no-turbolink" => true %>
      </li>
    </paper-item>
    <br />
  <% end %>
</ul>
<hr />
<div vertical layout end>
  <div self-center center-justified><%= image_tag('wtglogo.png', width: 125, height: 35) %> </div>
  <div self-center center-justified> RPI Web Tech Group &#169; 2015 </div>
</div>