<% if category_viewable?(subcategory) %>
  <div class="grid-item">
    <%= link_to category_path(subcategory, view_style: "grid"), 
                :class => "unstyled-link" do %>
      <%= image_tag "icons/icon_folder.png" %>
      <%= subcategory.name %>
    <% end %>
  </div>
<% end %>