<% if category_viewable?(subcategory) %>
  <div class="unstyled_link">
    <%= link_to category_path(subcategory, view_style:"list") do %>
      <div class="document_listitem_hover">
        <%= image_tag "icons/icon_folder_50.png" %>
        <b><%= subcategory.name.truncate(16) %></b>
      </div>
    <% end %>
  </div>
<% end %>