<% subcategories.each do |subcategory| %>
  <% if category_viewable?(subcategory) %>
    <div class="list-item" href="<%= category_path(subcategory, view_style: "list") %>">
      <%= image_tag "icons/icon_folder_50.png" %>
      <%= subcategory.name %> 
    </div>
  <% end %>
<% end %>