<% subcategories.each do |subcategory| %>
  <% if category_viewable?(subcategory) %>
    <div class="list-item" href="<%= category_path(subcategory, view_style: "list") %>">
      <%= image_tag "icons/folders/folder_jeans.png", width: "50px", height: "50px" %>
      <%= subcategory.name %> 
    </div>
  <% end %>
<% end %>