<section vertical layout>
  <div class="grid-scroll" fit>
    <% if !@featured.nil? and !@featured.values.all? {|docs| docs.empty?} %>
      <h1 class="header">
        Featured Categories 
      </h1>
      <div class="featured">
        <%= render partial: "categories/featured/featured_categories", locals: {featured: @featured} %>
      </div>
    <% end %>

    <h1 class="header">
      Browse Categories
    </h1> 
    <div class="grid-view" flex horizontal wrap layout cross-fade>
      <% @categories.each do |cat| %>
        <%= render partial: "categories/category_grid_item", locals: {subcategory: cat} %>
      <% end %>
    </div>
  </div>
</section>