<% if !@featured.nil? and !@featured.values.all? {|docs| docs.empty?} %>
  <div class="panel panel-default">
    <ol class="breadcrumb">
      <h4> Featured Categories </h4>
    </ol>
    <div class="panel-body">
      <%= render partial: "featured_categories", locals: {featured: @featured} %>
    </div>
  </div>
<% end %>
<div class="panel panel-default">
  <ol class="breadcrumb">
    <h4> Browse Categories </h4>
  </ol>
  <div class="panel-body">
    <% @categories.each do |cat| %>
      <%= render partial: "categories/category_tile", locals: {subcategory: cat} %>
    <% end %>
  </div>
</div>