<% if !@featured.nil? and !@featured.values.all? {|docs| docs.empty?} %>
  Featured Categories 
  <%= render partial: "categories/featured/featured_categories", locals: {featured: @featured} %>
<% end %>


<h1 class="header">
  Browse Categories
</h1> 
<% @categories.each do |cat| %>
  <%= render partial: "categories/category_grid_item", locals: {subcategory: cat} %>
<% end %>
