<div class="search">
  <%= form_tag search_documents_path, method: :post do %>
    <paper-input-decorator label="search for documents and categories ...">
      <input id="query" name="query">
    </paper-input-decorator>
  <% end %>
</div>